/*-------- content01 부분 --------*/

.content01 {
  width: 100vw;
  height: auto;
  position: relative;
}

.ct01-content-wrapper {
  margin: 0 auto;
  width: 90vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 50px;
}

.content-header h1 {
  margin: 30px 0 55px 0;
  text-align: center;
  font-size: 2.4rem;
}

.theme-select {
  width: 80vw;
  padding: 20px 0;
}

.theme-select p {
  text-align: right;
  font-size: 1.4rem;
  color: #fff;
  margin-bottom: 45px;
  font-weight: 400;
}
